body {
    font-family: Arial, sans-serif;
    background:#ffffff;
}

header {
    background: #bc002d;
    color: white;
    text-align: center;
    padding: 1rem;
}

.hero {
    width: 100%;
    display: block;
}

.info-grid {
    padding: 1rem;
}

.card {
    background: #092cf0;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 1rem;
    display: grid;
    gap: 1.5rem;
}


picture img {
    width: 100%;
    border-radius: 8px;
}


footer {
    padding: 1rem;
    text-align: center;
    background: #bc002d;
    color: white;
    margin-top: 1rem;
}