* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f1faee;
    color: #222;
    line-height: 1.6;
}

header {
    background: #1d3557;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    height: 90px;
}


.tagline {
    text-align: center;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}



nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffb703;
}

.hero {
    width: 100%;
    height: 260px;
    overflow: hidden;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

section {
    padding: 1.5rem;
    margin: 1rem auto;
    max-width: 900px;
}

h2 {
    color: #1d3557;
    margin-bottom: 0.5rem;
    border-left: 6px solid #e63946;
    padding-left: 10px;
    text-align: center;
}

h3 {
    color: #1d3557;
    margin-bottom: 0.5rem;
    border-left: 6px solid #e63946;
    padding-left: 10px;
}

.column {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #d3d3d3;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}


.column img {
    width: 300px;
    border-radius: 8px;
}

.three-columns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    padding: 0 25px;
}


@media (min-width: 700px) {
    .featured-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.quick-tip-box {
    background: #f1faee;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

#progressForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;
}

#progressForm label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

#progressForm input,
#progressForm select {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1rem;
}



footer {
    text-align: center;
    padding: 1rem;
    background: #1d3557;
    color: white;
    margin-top: 3rem;
}

footer p {
    margin-top: 0.5rem;
}